.button-form {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif !important;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 200px;
  font-size: 20px;
  font-weight: bold !important;
}
.button-form:disabled {
  cursor: default;
}
.button-form:-moz-focusring {
  outline: auto;
}
.button-form svg {
  vertical-align: middle;
}
.button-form [hidden] {
  display: none;
}
.button-form {
  --thickness: 0.3rem;
  --roundness: 6px;
  --color: #eee;
  --opacity: 0.6;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background: none;
  background-color: white;
  border: none;
  border-radius: var(--roundness);
  color: black;
  cursor: pointer;
  display: block;
  font-family: Poppins, 'sans-serif';
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 3rem;
  position: relative;
  transition: all 0.3s linear;
}
.button-form defs {
  width: 100%;
}
.button-form:hover {
  background: hsla(0, 0%, 100%, 0.3);
  filter: brightness(1.2);
}
.button-form:active {
  --opacity: 0;
  background: hsla(0, 0%, 100%, 0.1);
}
.button-form svg {
  border-radius: var(--roundness);
  display: block;
  filter: url(#glow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}
.button-form rect {
  fill: none;
  stroke: var(--color);
  stroke-width: var(--thickness);
  rx: var(--roundness);
  stroke-linejoin: round;
  stroke-dasharray: 185%;
  stroke-dashoffset: 80;
  -webkit-animation: snake 2s linear infinite;
  animation: snake 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}
.button-form:hover rect {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: var(--opacity);
}
@-webkit-keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}
@keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}
