:where(.css-dev-only-do-not-override-19gw05y).ant-modal {
  top: 20px;
  padding-bottom: 10px;
  width: 90% !important;
  height: 545px !important;
}
:where(.css-dev-only-do-not-override-19gw05y).ant-modal .ant-modal-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}