@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Borel&family=Cabin&family=Montserrat&family=Oswald:wght@200&family=Roboto:wght@500&display=swap');
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


:root {
  --title-color: rgb(67, 67, 67);
  --line-color: #adabab37;
  --white: rgb(255, 253, 253);
  --main-color: #F7F7F7;
  --bcg-detail-color: #f8f8f8;
  --labels-color: #fdf7f7;
  --product-purchase-table: #ffffff;
  --hover-color: #c81d1dce;
  --bcg-add: #ce1515c4;
  --star-color: #EABE12;
  --black: #191717;
  --white: #fff;
  --light-color: #eac794;
  --border: .2rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --fontcolor: #777777;
  --icon-down: #77777758;
  --old-price: #BBBBBB;
  --boder-number: #c62323b5;
  --bcg-add-hover: #bc1313dd;
  --bcg-buy: #c73d3d77
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
}

*::-moz-selection {
  background-color: var(--bcg-detail-color);
  color: var(--white);
}

*::selection {
  background-color: var(--bcg-detail-color);
  color: var(--white);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--li);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

/*detail-wrapper  */
.detail-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: var(--bcg-detail-color);
  height: 650px;
  overflow: hidden;
  /* align-items: stretch; */
}

/* <!-- Start product-view area --> */
.product-view {
  font-size: 2rem;
  margin: 20px 20px 40px 20px;
  width: 100%;
  height: 580px;
  /* height: 100; */
  overflow: hidden;
  position: relative;
}

.product-view .product-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: #333 solid 1px;
}

.product-view .product-labels {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 50px;
}

.product-view .product-labels .product-onsale,
.product-view .product-labels .product-feature {
  border-radius: 20px;
  background-color: var(--labels-color);
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 900;
}

/* <!-- End product-view area --> */

/* <!-- Start product-content area --> */
.product-content {
  width: 100%;
  margin: 20px 20px 20px 30px;
  width: auto;
}

/*  <!-- Start header-detail area --> */
.header-detail {
  background-color: var(--bcg-detail-color);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-detail .path-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  position: relative;
  padding: 0 2rem;
}


.header-detail .path-detail .product-path a,
.header-detail .path-detail .product-name {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  color: var(--fontcolor);
  text-decoration: none;
  font-weight: 800;
}

.header-detail .path-detail .product-name {
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-weight: 150;
}

.header-detail .path-detail .product-path a:hover:not(.icon-division) {
  text-decoration: underline;
  color: var(--black);
  text-decoration: none;
}

.header-detail .product-management {
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header-detail .product-management .product-large {
  margin: 0 10px
}

/*   <!-- End header-detail area --> */

/*     <!-- Start content-detail area --> */
.content-detail {
  margin: 28px 0px 0px 25px;
  display: grid;
  grid-template-columns: 60% 40%;
  overflow: hidden;
  height: 350px;
}

.content-detail .product-information {
  margin-right: 10px;
}

.content-detail .product-information .product-title {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  font-weight: 250;
  color: var(--title-color);
}

.content-detail .product-information .product-reviews {
  margin: 10px 0px 20px 0px;
}

.content-detail .product-information .product-reviews .icon-star {
  margin-right: 0.3rem;
  color: var(--star-color);
  font-size: 1.6rem;
}

.content-detail .product-information .product-reviews .customer-review {
  color: var(--fontcolor);
  font-size: 1.3rem;
  margin-left: 5px;
}

.content-detail .product-information .product-reviews .customer-review .customer-review-link {
  color: var(--fontcolor);
  font-size: 1.6rem;
  font-weight: 800;
}

.content-detail .product-information .product-reviews .customer-review .customer-review-link:hover {
  color: var(--black);
}

.content-detail .product-information .product-description {
  color: var(--fontcolor);
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 41px;
}

.content-detail .product-information .orther-information {
  height: 80px;
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  border-bottom: var(--line-color) outset 2px;
}

.content-detail .product-information .orther-information .release-date,
.publisher,
.developer {
  font-size: 1.6rem;
  font-weight: 600;
  display: grid;
  grid-template-rows: 35% 35%;
}

.content-detail .product-information .orther-information .orther-title {
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-weight: 150;
}

.content-detail .product-information .orther-information .info {
  color: var(--fontcolor);
}

.content-detail .product-information .orther-information .dev-link {
  color: var(--black);
}

.content-detail .product-information .orther-information .dev-link:hover {
  color: var(--hover-color)
}

/*      <!-- Start product-purchase-table area --> */

.content-detail .product-purchase-table {
  width: 100%;
  background-color: var(--product-purchase-table);
  padding: 40px;
  border-radius: 10px;
  /* font-family: 'Roboto', sans-serif; */
}

.content-detail .product-purchase-table .product-price {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
}

.content-detail .product-purchase-table .product-price .old-price {
  text-decoration: line-through;
  color: var(--old-price);
}

.content-detail .product-purchase-table .product-price .current-price {
  color: var(--hover-color);
}

.content-detail .product-purchase-table .platform,
.content-detail .product-purchase-table .edition {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 26% 72%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  align-items: center;
  height: 50px;
}

.content-detail .product-purchase-table .platform .plat-text,
.content-detail .product-purchase-table .edition .edi-text {
  font-weight: 800;
}

.content-detail .product-purchase-table .platform .plat-dropdown,
.content-detail .product-purchase-table .edition .edi-dropdown {
  display: flex;
  border: var(--line-color) solid 2px;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.3rem;
  align-items: center;
  justify-content: space-between;
  color: var(--fontcolor);
  cursor: pointer;
}

.content-detail .product-purchase-table .platform .plat-dropdown .icon-down,
.content-detail .product-purchase-table .edition .edi-dropdown .icon-down {
  color: var(--icon-down);
}

.content-detail .product-purchase-table .product-payment {
  width: 100%;
  height: 50px;
  display: grid;
  margin-top: 20px;
  grid-template-columns: 30% 40% 30%;
  place-items: center;
}

.content-detail .product-purchase-table .product-payment .product-number {
  overflow: hidden;
  display: table;
  width: 95%;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}

.content-detail .product-purchase-table .product-payment .product-number .col {
  display: table-cell;
  padding: 0.6rem;
  vertical-align: middle;
  text-align: center;
}

.content-detail .product-purchase-table .product-payment .product-number .col-number {
  border-top: var(--line-color) solid 2px;
  border-bottom: var(--line-color) solid 2px;
  color: var(--fontcolor);
  font-size: 1.3rem;
}

.content-detail .product-purchase-table .product-payment .product-number .col-plus {
  border: var(--line-color) solid 2px;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
  color: var(--fontcolor);
  font-weight: 100;
  font-size: 1.1rem;
}

.content-detail .product-purchase-table .product-payment .product-number .col-minus {
  border: var(--line-color) solid 2px;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
  color: var(--fontcolor);
  font-weight: 100;
  font-size: 1.1rem;
}

.content-detail .product-purchase-table .product-payment .product-number .col-plus:hover,
.content-detail .product-purchase-table .product-payment .product-number .col-minus:hover {
  background-color: var(--hover-color);
  border: var(--boder-number) solid 2px;
  color: var(--white);
}

.content-detail .product-purchase-table .product-payment .product-add {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: bolder;
  width: 90%;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: var(--bcg-add);
  border-radius: 20px;
  color: var(--white);
}

.content-detail .product-purchase-table .product-payment .product-add:hover {
  background-color: var(--bcg-add-hover);
}

.content-detail .product-purchase-table .product-payment .product-buy {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: bolder;
  width: 95%;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: var(--bcg-buy);
  border-radius: 20px;
  color: var(--black)
}

.content-detail .product-purchase-table .product-payment .product-buy:hover {
  background-color: #8f3c3c30;
}

.content-detail .product-purchase-table .another-choice {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 23px;
  font-size: 1.6rem;
  font-weight: 900;
}

.content-detail .product-purchase-table .another-choice .favorite-product .favpro-text,
.content-detail .product-purchase-table .another-choice .product-share,
.content-detail .product-purchase-table .another-choice .product-share .prosha-text {
  color: var(--black);
  text-transform: none;
}

.content-detail .product-purchase-table .another-choice .favorite-product .favpro-text:hover {
  color: var(--fontcolor);
}

.content-detail .product-purchase-table .another-choice .product-share .social-network {
  color: var(--fontcolor);
  margin-left: 8px;
}

.content-detail .product-purchase-table .another-choice .product-share .social-network:hover {
  color: var(--black);
}

.product-content .footer-content {
  margin: 3.8rem 0px 0px 1.8rem;
}

.product-content .footer-content .footer-tb {
  width: 100%;
}

.product-content .footer-content .footer-detail {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% /4) calc(100% /4) calc(100% /4) calc(100% /4);
  height: 57px;
  overflow: hidden;
}


.product-content .footer-content .footer-detail .img-item {
  width: 5rem;
  height: 4rem;
  object-fit: contain;
}

.product-content .footer-content .footer-detail .item-value a {
  font-size: 1.5rem;
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-weight: 150;
}

.product-content .footer-content .footer-detail .item-value a:hover {
  color: var(--bcg-add-hover);
}

@media(max-width: 1500px) {
  html {
    font-size: 60%;
  }

  .content-detail {
    margin: 28px 0px 0px 25px;
    display: grid;
    grid-template-columns: 55% 45%;
    overflow: hidden;
    height: 400px;
  }

  .content-detail .product-purchase-table {
    width: 100%;
    background-color: var(--product-purchase-table);
    padding: 30px 30px;
    border-radius: 10px;
    /* font-family: 'Roboto', sans-serif; */
  }

  .content-detail .product-purchase-table .platform,
  .content-detail .product-purchase-table .edition {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    align-items: center;
    height: 50px;
  }

  .content-detail .product-purchase-table .platform .plat-dropdown,
  .content-detail .product-purchase-table .edition .edi-dropdown {
    /* display: flex; */
    border: var(--line-color) solid 2px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 5px;
    font-size: 1.3rem;
    align-items: center;
    justify-content: space-between;
    color: var(--fontcolor);
    cursor: pointer;
  }


  .content-detail .product-purchase-table .product-payment {
    width: 100%;
    height: auto;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }


  .content-detail .product-purchase-table .another-choice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 23px;
    font-size: 1.6rem;
    font-weight: 700;
  }

}

@media(max-width: 991px) {
  html {
    font-size: 55%;
  }

  .detail-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--bcg-detail-color);
    height: auto;
    overflow: hidden;
    /* align-items: stretch; */
  }

  .product-view {
    font-size: 2rem;
    margin: 20px 20px 40px 20px;
    width: 95%;
    height: 580px;
    /* height: 100; */
    overflow: hidden;
    position: relative;
  }

  .product-content {
    width: 95%;
    margin: 20px 20px 20px 8px;

  }

  .content-detail {
    margin: 28px 0px 0px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: auto;
  }

  .product-content .footer-content .footer-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    height: auto;
    overflow: hidden;
  }

}

@media(max-width: 600px) {
  html {
    font-size: 50%;
  }

  .detail-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--bcg-detail-color);
    height: auto;
    overflow: hidden;
    /* align-items: stretch; */
  }

  .product-view {
    font-size: 2rem;
    margin: 20px 20px 40px 20px;
    width: 88%;
    height: 580px;
    /* height: 100; */
    overflow: hidden;
    position: relative;
  }


  .product-content {
    width: 90%;
    margin: 20px 20px 20px 8px;
  }

  .content-detail {
    margin: 28px 0px 0px 25px;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    height: auto;
  }

  .product-content .footer-content .footer-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    height: auto;
    overflow: hidden;
  }

}

@media(max-width: 450px) {
  html {
    font-size: 50%;
  }
}