:where(.css-dev-only-do-not-override-19gw05y).ant-modal .ant-modal-close {
  top: -1px;
  inset-inline-end: 1px;
}
:where(.css-dev-only-do-not-override-19gw05y).ant-modal .ant-modal-content {
  padding: 15px 18px;
}

:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item::before,
:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item::before,
:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item::before,
:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
:where(.css-dev-only-do-not-override-19gw05y).ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture
  .ant-upload-list-item,
:where(.css-dev-only-do-not-override-19gw05y).ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item,
:where(.css-dev-only-do-not-override-19gw05y).ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item {
  padding: 5px;
}
:where(.css-dev-only-do-not-override-19gw05y).ant-upload-wrapper
  .ant-upload-select {
  display: inline;
}
:where(.css-dev-only-do-not-override-19gw05y).ant-upload-wrapper
  .ant-upload-list {
  display: flex;
}
.ant-modal-body {
  img {
    object-fit: contain;
    height: 100%;
  }
}
:where(.css-dev-only-do-not-override-19gw05y).ant-modal .ant-modal-body {
  height: 100%;
}
:where(.css-dev-only-do-not-override-19gw05y).ant-upload-wrapper
  .ant-upload-list {
  display: flex;
  flex-wrap: wrap;
}
:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-container,
:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-container,
:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item-container,
:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item-container {
  width: 100px;
  height: 100px;
  margin-block: 0px 8px;
  margin-inline: 0px 8px !important;
}
:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select,
:where(
    .css-dev-only-do-not-override-19gw05y
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  width: 100px;
  height: 100px;
  margin-inline-end: 8px;
  margin-bottom: 8px;
}
