.infor:hover .infor-content {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.infor-content {
  opacity: 0;
  visibility: hidden;
  position: relative;
}
.infor-content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: transparent;
  top: 0;
  transform: translate(-12px, -100%);
  border-radius: 6px;
}
