<!DOCTYPE html>
<html lang="en">
  <body
    style="
      height: 100vh;
      background-color: #eee;
      font-family: 'Roboto', sans-serif;
      position: relative;
    "
  >
    <div
      style="
        background-color: white;
        width: 500px;
        padding: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
      "
    >
      <h2
        style="
          border-bottom: 1px solid gray;
          padding-bottom: 20px;
          font-size: 30px;
          text-align: center;
        "
      >
        NTHĐV
      </h2>
      <span>Xin chào NTHĐV</span>
      <p>
        Để xác thực tài khoản của bạn, chúng tôi đã gửi cho bạn một mã xác thực
        gồm 6 chữ số.
      </p>
      <span>Mã xác thực của bạn là: 123456</span>
      <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi</p>
    </div>
  </body>
</html>
